@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-proxima: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  --font-proxima: var(--font-geist-sans);

  background: var(--background);
  color: var(--foreground);
  font-family: "Proxima Nova", var(--font-geist-sans), "Helvetica Neue", Arial, sans-serif;
}

button:enabled,
input[type="checkbox"]:enabled,
input[type="radio"]:enabled {
  cursor: pointer;
}

button:disabled,
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  cursor: not-allowed;
}

.font-proxima {
  font-family: "Proxima Nova", var(--font-geist-sans), "Helvetica Neue", Arial, sans-serif;
}

.font-rubik {
  font-family: var(--font-rubik), var(--font-geist-sans), "Helvetica Neue", Arial, sans-serif;
}
